@use '/src/vars' as *;
@use '/src/utils' as *;

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.weekdays {
  display: flex;
  height: 24px;
  border-bottom: 1px solid $color-stroke;
  flex-shrink: 0;

  .weekday {
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $color-text;
    display: grid;
    place-items: center;
  }
}

.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;

  .cell {
    border: 0px solid colorWithOpacity($color-stroke, 60%);
    border-right-width: 1px;
    border-bottom-width: 1px;
    padding: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: $color-text;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &.otherMonth {
      background-color: #f2f2f2;

      & > * {
        opacity: 0.5;
      }
    }

    &.today {
      background-color: $color-selected;

      .date {
        background-color: $color-text;
        color: $color-selected;
        border-radius: 50%;
        width: fit-content;
        padding-inline: 6px;
        flex-shrink: 0;
      }
    }

    .date {
      font-weight: 500;
      font-size: 10px;
      line-height: 15px;
      padding: 3px;
      color: $color-text;
    }
  }
}
